
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex,follow" />
  <link rel="stylesheet" href="/css/style_transit.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/skel_transit.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/style_ambition.css" type="text/css" media="all" />
  {% if page.title == 'Community' %}
  <style>
    #content h1 {
    text-align: center;
    margin: 50px 50px 20px 50px;
    }

    #content p {
    text-align: center;
    margin: 20px 20px 20px 20px;
    }
  </style>
  {% endif %}
</head>
